html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-color: grey;
padding: 0px;
margin: 0px;
}


#top{
    background-color: rgb(40, 40, 40);
}

#logo{
    display: flex;
    justify-content: center;
   padding-top: 12px;

}

#logo img{
width: 20%;
padding-bottom: 8px;

}

nav{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

nav ul{
    padding: 0px;
    margin: 0px;
}

nav ul a{
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(220, 220, 220);
    font-weight: 600;
}

#main{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height:calc(100vh - 278.15px);
    color: white;
    padding-top: 64px;

}


#footer{
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 16px;
    background-color: rgb(220, 220, 220);
}

#footer ul{
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: 0px;
    
}

#footer ul a{
    padding: 16px;
    width: 50px;
    font-size: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-align: center;
}

#main section h2{
    display: flex;
    justify-content: center;
}

#main section ul{
    text-align: center;
    list-style:none ;
    padding-left: 20%;
    padding-right: 20%;
    margin: 24px;
    margin-top: 32px;
}
