html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
background-color:#808080;
padding: 0px;
margin: 0px;
}


#top{
    background-color: rgb(40, 40, 40);
}

#logo{
    display: flex;
    justify-content: center;
   padding-top: 12px;

}

#logo img{
width: 300px;
padding-bottom: 8px;

}

nav{
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}

nav ul{
    padding: 0px;
    margin: 0px;
}

nav ul a{
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    color: rgb(220, 220, 220);
    font-weight: 600;
}

#main{
    font-size: 32px;

    color:rgb(220, 220, 220);
    padding-top: 64px;
    min-height:calc(100vh - 20%);
}
#main iframe{
 margin-left: 16px;
 margin-right: 16px;
}

.zeile1{
    display: flex;
    justify-content: center;   
    padding-bottom: 32px;
}

.zeile2{
    display: flex;
    justify-content: center;
    padding-bottom: 32px;   
}

.zeile3{
    display: flex;
    justify-content: center;
    padding-bottom: 32px;   
}




#footer{
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
    padding-top: 16px;
    background-color: rgb(220, 220, 220);
}

#footer ul{
    padding: 0px;
    display: flex;
    justify-content: center;
    margin: 0px;
    
}

#footer ul a{
    padding: 16px;
    width: 50px;
    font-size: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-align: center;
}

